<div class="w-1/4 px-2 mb-10">
    <div class="w-full h-64 bg-center bg-cover rounded-lg" style="background-image: url({{room.first_photo}});"></div>

    <div class="flex justify-between mt-2 mb-2">
        <div class="flex items-center w-4/5 overflow-hidden">
            {% if room.host.superhost %}
            <span class="px-1 py-px mr-2 text-xs text-black uppercase border border-black rounded">superhost</span>
            {% endif %}
            <span class="block text-sm text-gray-600 truncate">{{room.city}}, {{room.country.name}}</span>
        </div>

        <div>
            <span class="flex items-center text-sm">
                <i class="mr-1 text-xs text-red-500 fas fa-star"></i> {{room.total_rating}}
            </span>
        </div>

    </div>
    <span class="block w-11/12 truncate">{{room.name}}</span>

</div>