{% extends "base.html" %}

{% block page_title %}
Home
{% endblock page_title %}

{% block content %}

<div class="container mx-auto">
    <div class="mt-32 mb-24 -mx-10 bg-gray-800 bg-center bg-cover rounded-3xl h-72"
        style="background-image: url(https://images.unsplash.com/photo-1531315630201-bb15abeb1653?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);">

    </div>


    <div class="flex flex-wrap mb-10 -mx-10">
        {% for room in rooms %}
        {% include 'partials/room_card.html' with room=room %}
        {% endfor %}
    </div>

    <div class="container flex justify-center mx-auto">
        {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
            <i class="fas fa-arrow-left fa-lg"></i>
        </a>
        {% endif %}
        <span class="mx-3 text-lg font-medium">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
            <i class="fas fa-arrow-right fa-lg"></i>
        </a>
        {% endif %}
    </div>

</div>




{% endblock content %}