{% extends "base.html" %}

{% block page_title %}
Home
{% endblock page_title %}

{% block content %}

<div class="container mx-auto mt-32 mb-24 bg-gray-800 bg-center bg-cover rounded-3xl h-72"
    style="background-image: url(https://images.unsplash.com/photo-1531315630201-bb15abeb1653?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60);">

</div>


{% for room in rooms %}
<h4>

    <a href="{% url 'rooms:detail' room.pk %}">
        {{room.name}} / ${{room.price}}
    </a>

</h4>
{% endfor %}

<h4>
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}
    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
</h4>
{% endblock content %}