{% extends "base.html" %}

{% block page_title %}
Search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

<h2> Search! </h2>

<form metho="get" action="{% url 'rooms:search' %}">
    <div>
        <label for="city">City</label>
        <input value="{{city}}" id="city" name="city" placeholder="Search by city" />
    </div>
    <div>
        <label for="country">Country</label>
        <select id="country" name="country">
            {% for country in countries %}

            {% if selected_country == country.code %}
            <option value="{{country.code}}" selected>
                {{country.name}}
            </option>
            {% else %}
            <option value="{{country.code}}">
                {{country.name}}
            </option>
            {% endif %}
            {% endfor %}

        </select>
    </div>

    <div>
        <label for="room_type">Room Type</label>
        <select id="room_type" name="room_type">
            {% if room_type == room_type.pk %}
            <option value="0" selected>Any type</option>
            {% else %}
            <option value="0">Any type</option>
            {% endif %}
            {% for room_type in room_types %}
            {% if selected_room_type == room_type.pk %}
            <option value="{{room_type.pk}}" selected>
                {{room_type.name}}
            </option>
            {% else %}
            <option value="{{room_type.pk}}">{{room_type.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="price">Price</label>
        <input value="{{price}}" type="number" id="price" name="price" placeholder="Price" />
    </div>
    <div>
        <label for="beds">Beds</label>
        <input value="{{beds}}" type="number" id="beds" name="beds" placeholder="Beds" />
    </div>
    <div>
        <label for="guests">Guests</label>
        <input value="{{guests}}" type="number" id="guests" name="guests" placeholder="Guests" />
    </div>
    <div>
        <label for="bedrooms">Bedrooms</label>
        <input value="{{bedrooms}}" type="number" id="bedrooms" name="bedrooms" placeholder="Bedrooms" />
    </div>
    <div>
        <label for="baths">Baths</label>
        <input value="{{baths}}" type="number" id="baths" name="baths" placeholder="Baths" />
    </div>
    <div>
        <label for="instant">Instant book only?</label>
        {% if selected_instant %}
        <input id="instant" name="instant" type="checkbox" checked>
        {% else %}
        <input id="instant" name="instant" type="checkbox">
        {% endif %}
    </div>
    <div>
        <label for="super_host">Super host only?</label>
        {% if selected_super_host %}
        <input id="super_host" name="super_host" type="checkbox" checked>
        {% else %}
        <input id="super_host" name="super_host" type="checkbox">
        {% endif %}
    </div>
    <div>
        <h3>Amenities</h3>
        <ul>
            {% for amenity in amenities %}
            <li>
                <label for="a_{{amenity.pk}}">{{amenity.name}}</label>
                {% if amenity.pk|slugify in selected_amenities %}
                <input id="a_{{amenity.pk}}" name="amenities" type="checkbox" value="{{amenity.pk}}" checked />
                {% else %}
                <input id="a_{{amenity.pk}}" name="amenities" type="checkbox" value="{{amenity.pk}}" />
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h3>Facilities</h3>
        <ul>
            {% for facility in facilities %}
            <li>
                <label for="f_{{facility.pk}}">{{facility.name}}</label>
                {% if facility.pk|slugify in selected_facilities %}
                <input id="f_{{facility.pk}}" name="facilities" type="checkbox" value="{{facility.pk}}" checked />
                {% else %}
                <input id="f_{{facility.pk}}" name="facilities" type="checkbox" value="{{facility.pk}}" />
                {% endif%}
            </li>
            {% endfor %}
        </ul>
    </div>

    <button>Search</button>

</form>


{% endblock content %}