{% extends "base.html" %}

{% block page_title %}
Search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

<h2> Search! </h2>

<form metho="get" action="{% url 'rooms:search' %}">
    <div>
        <label for="city">City</label>
        <input value="{{city}}" id="city" name="city" placeholder="Search by city" />
    </div>
    <div>
        <label for="country">Country</label>
        <select id="country" name="country">
            {% for country in countries %}

            {% if selected_country == country.code %}
            <option value="{{country.code}}" selected>
                {{country.name}}
            </option>
            {% else %}
            <option value="{{country.code}}">
                {{country.name}}
            </option>
            {% endif %}
            {% endfor %}

        </select>
    </div>

    <div>
        <label for="room_type">Room Type</label>
        <select id="room_type" name="room_type">
            {% if room_type == room_type.pk %}
            <option value="0" selected>Any type</option>
            {% else %}
            <option value="0">Any type</option>
            {% endif %}
            {% for room_type in room_types %}
            {% if selected_room_type == room_type.pk %}
            <option value="{{room_type.pk}}" selected>
                {{room_type.name}}
            </option>
            {% else %}
            <option value="{{room_type.pk}}">{{room_type.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <button>Search</button>

</form>


{% endblock content %}