{% extends "base.html" %}

{% block page_title %}
Search
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

<h2> Search! </h2>

<form metho="get" action="{% url 'rooms:search' %}">

    {{form.as_p}}

    <button>Search</button>

</form>

<h3>Results</h3>

{% for room in rooms %}
<h3>{{room.name}}</h3>
{% endfor %}

Page {{rooms.number}} of {{rooms.paginator.num_pages}}
{% if rooms.has_previous %}
<a href="{{href}}&page={{rooms.number|add:-1}}">Previous</a>
{% endif %}
{% if rooms.has_next %}
<a href="{{href}}&page={{rooms.number|add:1}}">Next</a>
{% endif %}


{% endblock content %}